[[source]]
name = "pypi"
url = "https://pypi.org/simple/"
#url = "https://nexus.agilesof.com:8443/repository/pypi-all/simple/"
verify_ssl = true

[dev-packages]
ipykernel = "*"
black = "==19.3b0"

[packages]
aniso8601 = "==7.0.0"
astroid = "==2.3.3"
Click = "==7.0"
Flask = "==1.1.1"
Flask-GraphQL = "==2.0.1"
graphene = "==2.1.8"
graphene-sqlalchemy = "==2.2.2"
graphql-core = "==2.3.1"
graphql-relay = "==2.0.1"
graphql-server-core = "==1.2.0"
isort = "==4.3.21"
itsdangerous = "==1.1.0"
Jinja2 = "==2.11.1"
lazy-object-proxy = "==1.4.3"
MarkupSafe = "==1.1.1"
mccabe = "==0.6.1"
promise = "==2.3"
pylint = "==2.4.4"
Rx = "==1.6.1"
singledispatch = "==3.4.0.3"
six = "==1.14.0"
SQLAlchemy = "==1.3.13"
typed-ast = "==1.4.1"
Werkzeug = "==0.16.1"
wrapt = "==1.11.2"
psycopg2-binary = "==2.8.2"
flask-graphql-auth = "==1.3.0"
requests = "==2.2.0"
flask-cors = "==3.0.8"
healthcheck = "==1.3.3"
gunicorn = "==20.0.4"

[requires]
python_version = "3.6"
